/*
==================================
=================MOBILE=================
================================== */

@media all and (max-device-width: 425px){
  body {
    background-color: #edf5f9;
  }

  /* =================NAV================= */

  li {
    text-align: right;
    list-style-type: none;
    margin-bottom: 15px;
    display: inline;
    margin-left: 13%;
  }

  ul {
    padding-top: 10px;
  }

  a {
    font-family: "Lato", CenturyGothic, AppleGothic, sans-serif;
    font-weight: lighter;
    color: #f9b4d5;
    font-size: 27pt;
  }

  a:hover {
    color: #ade2ff;
    text-decoration: none;
  }

  #nav {
    background-color: white;
    width: 101%;
    height: 70px;
  }

    /* =================INTRO================= */

  h1 {
    font-family: "Lato", CenturyGothic, AppleGothic, sans-serif;
    font-weight: bold;
    font-size: 8vw;
    letter-spacing: 3pt;
    color: #ade2ff;
    margin-top: 35px;
    text-align: center;

  }

  h2 {
    font-family: "Lato", CenturyGothic, AppleGothic, sans-serif;
    font-weight: bold;
    font-size: 45pt;
    letter-spacing: 2.5pt;
    color: #ef629f;
  }

  h2#hello {
    margin-top: 60px;
    display: none;
  }

  h2#helloMobile {
    margin-top: -100px;
  }

  p {
    font-family: "Lato", CenturyGothic, AppleGothic, sans-serif;
    color:white;
    font-size:12pt;
    font-weight: lighter;
  }

  p#textIntroMobile {
    font-family: "Lato", CenturyGothic, AppleGothic, sans-serif;
    color: #5d5d5d;
    font-size: 24pt;
    font-weight: lighter;
    width: 75%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
  }

  .textIntro {
    font-family: "Lato", CenturyGothic, AppleGothic, sans-serif;
    color:#5d5d5d;
    font-size:14pt;
    font-weight: lighter;
    width: 420px;
    display: none;
  }

  img.profilePhoto {
    border-radius: 50%;
    margin-top: -90px;
    width: 425px;
    margin-left: 30%;
  }

  #main {
    background: linear-gradient(to right, #ac4ef1, #2fbfe0);
    height: 40vw;
    width: 103%;
  }

  #intro {
    height: 530px;
  }

  /* =================PROJECTS================= */

  #projects {
    height: 200vw;
    background-color: white;
    box-shadow: 0px 0px 25px #999;
    width: 110%;
  }

  h3 {
    font-family: "Lato", CenturyGothic, AppleGothic, sans-serif;
    font-weight: bold;
    font-size: 20pt;
    letter-spacing: 2pt;
    line-height: 32pt;
    color: #ef629f;
    margin-top: 10vw;
  }

  .projectsText {
    margin-bottom: 38px;
  }

  .proj {
    height: 50vw;
    margin-right: -30px;
    width: 100%;
  }

  a.projLink {
    height: 50vw;
    margin-right: -30px;
    width: 95.8%;
    z-index: 1;
    position: absolute;;
    background-color: black;
    opacity: 0;
  }

  a.projLink:hover {
    opacity: 0.5;
  }

  .projTitle {
    height: 15vw;
    display: none;
  }

  .projectImg {
    height: 50vw;
    overflow: hidden;
    padding-left: 0px;
  }

  .booklet {
    background-color: #6cf8f8;
  }

  .pins {
    background-color: #c1d3e4;
  }

  .logo {
    margin-top: -58px;

  }

  /* =================CONTACT================= */

  #contact {
    margin-top: 60px;
    height: 350px;
  }

  .contactText {
    margin-bottom: 70px;
  }

  button.btn {
    border-radius: 28px;
    width: 15vw;
    height: 56px;
    margin-left: 42.5vw;
    background-image: -webkit-gradient(linear, right top, left bottom, from(#ac4ef1), to(#2fbfe0));
    color: white;
    font-family: "Lato", CenturyGothic, AppleGothic, sans-serif;
    font-weight: lighter;
    font-size: 20pt;
    letter-spacing: 2px;
  }

}

  /*
  ==================================
  =================DESKTOP=================
  ================================== */

@media all and (min-device-width: 401px){

body {
  background-color: #edf5f9;
}

/* =================NAV================= */

h1 {
  font-family: "Lato", CenturyGothic, AppleGothic, sans-serif;
  font-weight: bold;
  font-size: 8vw;
  letter-spacing: 3pt;
  color: #ade2ff;
  margin-top: 108px;
}

h2 {
  font-family: "Lato", CenturyGothic, AppleGothic, sans-serif;
  font-weight: bold;
  font-size: 45pt;
  letter-spacing: 2.5pt;
  color: #ef629f;
}

h2#hello {
  margin-top: 60px;
}

h2#helloMobile {
  display: none;
}

p#textIntroMobile {
  display: none;
}

a {
  font-family: "Lato", CenturyGothic, AppleGothic, sans-serif;
  font-weight: lighter;
  color: #f9b4d5;
  font-size: 16pt;
}

p {
  font-family: "Lato", CenturyGothic, AppleGothic, sans-serif;
  color:white;
  font-size:12pt;
  font-weight: lighter;
}

.textIntro {
  font-family: "Lato", CenturyGothic, AppleGothic, sans-serif;
  color:#5d5d5d;
  font-size:14pt;
  font-weight: lighter;
  width: 420px;
}

a:hover {
  color: #ade2ff;
  text-decoration: none;
}

li {
  text-align: right;
  list-style-type: none;
  margin-bottom: 15px;
}

img.profilePhoto {
  border-radius: 50%;
  margin-top: -70px;
}

#main {
  background: linear-gradient(to right, #ac4ef1, #2fbfe0);
  height: 29vw;
}

#nav {
  margin-top: 120px;
  margin-right: 28px;
}

#intro {
  height: 530px;
}

/* =================PROJECTS================= */

#projects {
  height: 100vw;
  background-color: white;
  box-shadow: 0px 0px 25px #999;
}

h3 {
  font-family: "Lato", CenturyGothic, AppleGothic, sans-serif;
  font-weight: bold;
  font-size: 20pt;
  letter-spacing: 2pt;
  line-height: 32pt;
  color: #ef629f;
  margin-top: 10vw;
}

.projectsText {
  margin-bottom: 38px;
}

.proj {
  height: 50vw;
  margin-right: -30px;
  width: 51.1%;
}

a.projLink {
  height: 50vw;
  margin-right: -30px;
  width: 95.8%;
  z-index: 1;
  position: absolute;;
  background-color: black;
  opacity: 0;
}

a.projLink:hover {
  opacity: 0.5;
}

.projTitle {
  height: 15vw;
}

.projectImg {
  height: 25vw;
  overflow: hidden;
  padding-left: 0px;
}

.booklet {
  background-color: #6cf8f8;
}

.pins {
  background-color: #c1d3e4;
}

.logo {
  margin-top: -58px;

}

/* =================CONTACT================= */

#contact {
  margin-top: 60px;
  height: 350px;
}

.contactText {
  margin-bottom: 70px;
}

button.btn {
  border-radius: 28px;
  width: 15vw;
  height: 56px;
  margin-left: 42.5vw;
  background-image: -webkit-gradient(linear, right top, left bottom, from(#ac4ef1), to(#2fbfe0));
  color: white;
  font-family: "Lato", CenturyGothic, AppleGothic, sans-serif;
  font-weight: lighter;
  font-size: 20pt;
  letter-spacing: 2px;
}

}
